Chapter_10/EmployeeWCFServiceClient/Service References/EmployeeWCFServiceReference/EmployeeWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDataContract" nillable="true" type="tns:EmployeeDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDataContract" nillable="true" type="tns:ArrayOfEmployeeDataContract" />
  <xs:complexType name="EmployeeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDataContract" nillable="true" type="tns:EmployeeDataContract" />
</xs:schema>