Chapter_10/EmployeeWCFServiceClient/Service References/EmployeeWCFServiceReference/EmployeeWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/EmployeeWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeWCFService" />
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmployeeWCFService" minOccurs="0" name="SelectAllResult" nillable="true" type="q1:ArrayOfEmployeeDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmployeeWCFService" minOccurs="0" name="SelectByIDResult" nillable="true" type="q2:EmployeeDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmployeeWCFService" minOccurs="0" name="emp" nillable="true" type="q3:EmployeeDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>